.cart-title h1 {
    text-transform: none;
}

.cart-title .cart-continue {
    display: flex;
    gap: 3px;
    color: #6E6E6E;
    text-decoration: underline;
}

.cart-title .cart-continue .icon-signpost-arrow {
    transform: rotate(180deg);
    position: relative;
    top: 2px;
}

.cartitems .cartitems-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 13% 17% 13%;
    color: #9F9F9F;
    padding: 0 1.171875rem;
}

.cartitems .cartitems-header span:first-child {
    text-align: left;
    margin-left: -1.171875rem;
}

.cartitems .cartitems-header span {
    text-align: center;
}

.cartitems .cartitems-header span:last-child {
    text-align: right;
}

.cartitems--list .cart-item {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 60px 120px 1fr 13% 17% 13%;
    margin-bottom: 0;
    grid-gap: 5px;
}

.cartitems--list .cart-item:not(:last-child) {
    border-bottom: 0;
}

.cart-item .cart-item__remove {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-top: 0;
    padding: 0;
}

.cart-item .cart-item--content-price {
    font-size: 15px;
    text-align: center;
}

.cart-item .cart-item__quantity .quantity-selector {
    margin: 0;
    max-width: none;
}

.cart-item .cart-item__quantity .quantity-selector .quantity-selector__wrapper {
    justify-content: center;
}

.cart-item .cart-item__quantity .quantity-selector .quantity-selector__input {
    margin: 0;
    width: 50px;
    padding: 0.62rem;
    min-width: auto;
}

.cart-item .cart-item__quantity .quantity-selector .quantity-selector__button {
    padding: 0.62rem;
}

.cart-item .cart-item__total {
    text-align: right;
    margin: 0;
    font-weight: bold;
    padding-right: 0;
}

@media screen and (min-width: 560px) {
    .cart-item .cart-item__remove {
        padding-left: 10px;
    }
}

@media screen and (min-width: 720px) {
    .cart-item .cart-item__total {
        min-width: auto;
    }
}

@media screen and (max-width: 719px) {
    .cartitems .cartitems-header {
        display: none;
    }

    .cartitems--list .cart-item {
        grid-template-columns: 40px 120px 1fr;
        grid-auto-flow: row;
    }

    .cartitems .cart-item--content-price {
        text-align: left;
    }

    .cartitems .cart-item--content-price,
    .cartitems .cart-item__quantity,
    .cartitems .cart-item__total {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}

@media screen and (max-width: 479px) {

    .cartitems--list .cart-item {
        grid-template-columns: 40px 75px 1fr;
        grid-auto-flow: row;
    }

    .cartitems .cart-item--content-price {
        grid-column: 1 / 3;
        text-align: left;
    }

    .cartitems .cart-item__quantity {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }    
}

section.site-footer-wrapper {
    margin-top: 0;
  }