.product-list-section .page-width {
    margin: auto;
    max-width: 1200px;
    padding: 50px 20px;
}

.product-list-section .productgrid--items.products-per-row-4 .productgrid--item {
    width: calc(25% - 15px);
    margin-left: 20px;
}

.product-list-section .productgrid--items.products-per-row-4 .productgrid--item:nth-child(4n+1) {
    margin-left: 0;
}

.product-list-section .productgrid--item .productitem {
    height: 100%;
}

.product-list-section .productitem__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-list-section .productitem__container .productitem--actions {
    width: 100%;
    position: static;
    margin: auto 0 0 0;
}

.product-list-section .productitem__container .productitem__badge--soldout,
.product-list-section .productitem__container .productitem--actions .button-primary.disabled {
    display: none;
}

@media screen and (max-width: 1023px) {
    .product-list-section .productgrid--items.products-per-row-4 .productgrid--item {
        width: calc(33.3333% - 15px);
    }
}

@media screen and (max-width: 767px) {
    .product-list-section .productgrid--items.products-per-row-4 .productgrid--item {
        width: calc(50% - 10px);
    }
}